<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
    <h1>{{ title }}</h1>
    <img src="chart.php?{{ data }}">
</body>
</html>